.topBg {
  background-image: url("powerpuff-background.jpeg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: clamp(600px, 100vw, 90vh);
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
}
